<div class="container allp">
    <h1 class="mplan">MEMBERSHIP PLANS</h1>
    <div class="row parent">
        <div class="col-md-4 allcard1">
            <div class="card firstcard" *ngFor="let i of firstdata">
                <div class="border">
                    <h3 class="head1">{{i.Heading}}</h3>
                    <div class="triangleDiv">

                    </div>
                </div>
                <div class="con2">
                <h1 class="mon">{{i.Money}}</h1>
                <p class="nump mb-0">{{i.number}}</p>
                </div>
                <p class="tt">{{i.time}}</p>
                <p class="pp">{{i.period}}</p>
                <p class="tt">{{i.trainer}}</p>
                <p class="pp">{{i.member}}</p>
                <p class="tt">{{i.people}}</p>
                <p class="pp">{{i.newperson}}</p>
                <p class="tt">{{i.visits}}</p>
                <p class="pp">{{i.qty}}</p>
                
                <div class="btnWrapper">

                    <button class="stn1">Start Now</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card firstcard" *ngFor="let i of seconddata">
                <div class="border">

                    <div class="triangleDiv">

                    </div>
                    <h3 class="head1">{{i.Heading}}</h3>
                </div>
                
                <div class="con2">
                <h1 class="mon">{{i.Money}}</h1>
                <p class="nump mb-0">{{i.number}}</p>
                </div>
                <p class="tt">{{i.time}}</p>
                <p class="pp">{{i.period}}</p>
                <p class="tt">{{i.trainer}}</p>
                <p class="pp">{{i.member}}</p>
                <p class="tt">{{i.people}}</p>
                <p class="pp">{{i.newperson}}</p>
                <p class="tt">{{i.visits}}</p>
                <p class="pp">{{i.qty}}</p>

                <div class="btnWrapper">
                <button class="stn1">Start Now</button>
            </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card firstcard" *ngFor="let i of thirddata">
                <div class="border">
                    <div class="triangleDiv">

                    </div>
                    <h3 class="head1">{{i.Heading}}</h3>
                </div> 
                <div class="con2">
                <h1 class="mon">{{i.Money}}</h1>
                <p class="nump mb-0">{{i.number}}</p>
                </div>
                <p class="tt">{{i.time}}</p>
                <p class="pp">{{i.period}}</p>
                <p class="tt">{{i.trainer}}</p>
                <p class="pp">{{i.member}}</p>
                <p class="tt">{{i.people}}</p>
                <p class="pp">{{i.newperson}}</p>
                <p class="tt">{{i.visits}}</p>
                <p class="pp">{{i.qty}}</p>
               
                <div class="btnWrapper">
                    <button class="stn1">Start Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

