<div class="container-fluid foote">
    <div class="row p-5">
        <div class="col-md-4 phone">
            <h5 class="allh">Phone</h5>
            <h6 class="h22">(123) 118 9999 - (123) 118 9999</h6>
        </div>

        <div class="col-md-4 phone">
            <h5 class="allh">Address</h5>
            <h6 class="h22">72 Kangnam, 45 Opal Point Suite 391</h6>
        </div>

        <div class="col-md-4 phone">
            <h5 class="allh">Email</h5>
            <h6 class="h22">contactcompany@Gutim.com</h6>
        </div>
    </div>

    <div class="container img">
        <div class="row">
            <div class="col-md-6 tail">
                <h3 class="spell pt-4">SUSCRIBE TO OUR MAILING LIST.</h3>
                <h6 class="spell">Sign up to receive the latest information.</h6>
            </div>

            <div class="col-md-6 pt-4 d-flex">
                <input type="text" placeholder="Enter Your Mail" class="form">
                <button type="submit" class="sub"><i class="fa fa-send"></i></button>
            </div>
        </div>
    </div>

    <div class="container para15 py-5 ">
            <div class="para row">
                <div class="col-lg-8 col-md-7">

                    <h5 class="para3 ">&copy; Copyright &copy;2024 All rights reserved | This template is made with <i
                        class="fa-regular fa-heart newh"></i> by colorlib 
                    </h5>
                    <div class="d-flex gap-4">
                        
                        <p >Term&Use</p>
                        <p>Privacy Policy</p>
                    </div>
                   </div>
                    <div class="footer-social allfont col-lg-4 col-md-5">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram "></i></a>
                        <a href="#"><i class="fa fa-dribbble "></i></a>
                    </div>
            </div>
        </div>
</div>