.banall
{
  margin-top: 100px;
}

.ban1
{
  background-image: url(/assets/images/footer-banner-1.jpg.webp);
  height: 400px;
}

.data
{
  height:auto;
  border: 18px solid rgba(255, 255, 255, 0.1);
  z-index: 1;
}

@media (max-width : 768px)
{
  .ban1 img {
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box
  };

  .ban2 img {
    margin-left: 10px;
    margin-right: 10px
  };
}

@media (min-width : 768px) and (max-width : 1200px)
{
    .allb img 
    {
      display: flex;
    }
}

.ban2
{
  background-image: url(/assets/images/footer-banner-2.jpg.webp);
  height: 400px;
}

.gss
{
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  width: 160px;
  height: 46px;
  background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
  border: none;
}

.data
{
  text-align: center;
  color: white;
  margin-top: 130px;
}