<div class="container-fluid banall">
    <div class="row allb">
        <div class="col-md-6 ban1">
        <div class="data">
            <h5>New Member</h5>
            <h2>7 Days for free</h2>
            <h6>Complete the training session with us,surely you will be happy.</h6>
            <button class="gss">Get Started</button>
        </div>
        </div>

        <div class="col-md-6 ban2">
            <div class="data">
            <h5>Contact Us</h5>
            <h2>09746204</h2>
            <h5>If you trust us on your journey they dark sex does not disappoint you.</h5>
            <button class="gss">Get Started</button>
        </div>
        </div>
    </div>
</div>
