<section>
  <div class="container contain">
    <div class="row img">
      <div class="col-md-6">
        <a
          href="https://www.youtube.com/watch?v=SlPhMPnQ58k"
          class="play-btn video-popup"
        >
          <img
            src="assets\images\Screenshot 2024-01-12 113914.png"
            class="gympic"
          />
        </a>
      </div>
      <div class="col-md-6 about">
        <h1 class="story">STORY ABOUT US</h1>
        <p class="lorem">
          Lorem ipsum proin gravida nibh vel velit auctor aliquet. Aenean<br />
          pretium sollicitudin, nascetur auci elit consequat ipsutissem<br />
          niuis sed odio sit amet nibh vulputate cursus a amet.<br /><br />Etiam
          rhoncus. Maecenas tempus,tellus eget condimentum <br />
          rhoncus, gravida quam semper libero sit amet. Etiam rhoncus.<br />Maecenas
          tempus, tellus eget condimentum rhoncus, gravida<br />quam semper
          libero sit amet.
        </p>
        <br />
        <br />
        <a href="#" class="readBtn">Read More</a>
      </div>
    </div>
  </div>
</section>
