<app-background-image title="about"></app-background-image>
<section>
  <div class="container contain">
    <div class="row img">
      <div class="col-md-6">
        <a
          href="https://www.youtube.com/watch?v=SlPhMPnQ58k"
          class="play-btn video-popup"
        >
          <img
            src="assets\images\Screenshot 2024-01-12 113914.png"
            class="gympic"
          />
        </a>
      </div>
      <div class="col-md-6 about">
        <h1 class="story">STORY ABOUT US</h1>
        <p class="lorem">
          Lorem ipsum proin gravida nibh vel velit auctor aliquet. Aenean<br />
          pretium sollicitudin, nascetur auci elit consequat ipsutissem<br />
          niuis sed odio sit amet nibh vulputate cursus a amet.<br /><br />Etiam
          rhoncus. Maecenas tempus,tellus eget condimentum <br />
          rhoncus, gravida quam semper libero sit amet. Etiam rhoncus.<br />Maecenas
          tempus, tellus eget condimentum rhoncus, gravida<br />quam semper
          libero sit amet.
        </p>
        <img src="assets/images/about-signature.png.webp" />
        <h4 class="cha">Lettie Chavez</h4>
        <h6 class="foun">CEO-FOUNDER</h6>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container award">
    <div class="row">
      <div class="col-lg-8 gyms">
        <h1 class="best">BEST GYM AWARD</h1>
        <p class="ipsum">
          Lorem ipsum proin gravida nibh vel velit auctor aliquet. Aenean
          pretium sollicitudin, nascetur auci elit consequat ipsutissem niuis
          sed odio sit amet nibh vulputate cursus a amet.<br />
          <br />
          Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus,
          gravida quam semper libero sit amet. Etiam rhoncus. Maecenas tempus,
          tellus eget condimentum rhoncus, gravida quam semper libero sit
          amet.The placeholder text, beginning with the line “Lorem ipsum dolor
          sit amet, consectetur adipiscing elit”, looks like Latin because in
          its youth, centuries ago, it was Latin.
        </p>
      </div>

      <div class="col-lg-4 d-flex justify-content-center">
        <img src="assets\images\award.jpg.webp" class="certi" />
      </div>
    </div>
  </div>
</section>

<app-training-today></app-training-today>
<app-expert-trainers></app-expert-trainers>
<app-contact-usbanner></app-contact-usbanner>
