.imgloca {
  display: flex;
  padding-bottom: 10px;
}

.webb {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid;
  border-color: #ebebeb;
}

.ny {
  font-size: medium;
  font-weight: 600;
}

.ol {
  color: #bdbdbd;
}

.ss {
  width: 100%;
}

.lacc {
  width: 100%;
  margin-bottom: 20px;
}

.laccb {
  height: 150px;
  width: 100%;
}

.sndmsg {
  background: linear-gradient(to right, #eb3c5a, #f67831);
  border: none;
  color: white;
}
