<app-background-image title="contact"></app-background-image>
<div class="container-fluid">
  <img src="assets/images/Screenshot 2024-01-30 174114.png" class="ss" />
</div>
<div class="container map my-5">
  <div class="row">
    <div class="col-md-4">
      <div class="ContactUs11">
        <h2 class="py-5 conus">CONTACT US</h2>
        <div class="imgloca">
          <div class="webb">
            <img src="assets/images/icon-1.png.webp" class="web1" />
          </div>
          <div class="add1 px-4">
            <h4 class="ol">Our Location</h4>
            <p class="ny">60-49 Road 11378 New York</p>
          </div>
        </div>
      </div>

      <div class="ContactUs22">
        <div class="imgloca">
          <div class="webb">
            <img src="assets/images/icon-2.png.webp" class="web1" />
          </div>
          <div class="add1 px-4">
            <h4 class="ol">Phone</h4>
            <p class="ny">+65 11.188.888</p>
          </div>
        </div>
      </div>

      <div class="ContactUs33">
        <div class="imgloca">
          <div class="webb">
            <img src="assets/images/icon-3.png.webp" class="web1" />
          </div>
          <div class="add1 px-3">
            <h4 class="ol">Mail</h4>
            <p class="ny">hellocolorlib@ gmail.com</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="cmnt">
        <h2 class="py-5 leave">LEAVE A COMMENT</h2>
        <div class="row">
          <div class="col-md-6">
            <input
              type="text"
              name="name"
              placeholder="Your Name"
              class="lacc"
            />
          </div>

          <div class="col-md-6">
            <input
              type="text"
              name="email"
              placeholder="Your email"
              class="lacc"
            />
          </div>

          <div class="msg pt-4">
            <textarea
              type="text"
              name="message"
              placeholder="Your Messages"
              class="laccb"
            ></textarea>
          </div>
        </div>
      </div>
      <button type="submit" class="sndmsg mt-5 px-5 py-2 mb-5">
        Send Message
      </button>
    </div>
  </div>
</div>
