<div class="container-fluid all">
    <h1 class="sst">SUCCESS STORIES</h1>
    <div class="para">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<p>
    </div>

    <div class="quote">
         <img src="assets/images/testimonial-1.jpg.webp" class="testi"> 
    </div>

    <div class="content">
        <h3 class="cor">Patrick Cortez</h3>
        <h6 class="lea">Leader</h6>
    </div>
</div>

