<div class="container blog">
    <div class="row">
        <div class="col-md-4">
            <div class="card cblog1">
                <img src="assets\images\blog-1.jpg.webp" class="blogpic">

                <div class="card-body">
                    <div class="twocont">
                    <p class="feb">February 17,2019</p>
                    <p class="hash">#Gym</p>
                </div>
                    <h4 class="prison">10 States At Risk of Rural Hospital Closures.</h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card cblog1">
                <img src="assets\images\blog-2.jpg.webp" class="blogpic">

                <div class="card-body">
                    <div class="twocont">
                    <p class="feb">February 17,2019</p>
                    <p class="hash">#Sport</p>
                </div>
                    <h4 class="prison">Diver who helped save thai soccer team.</h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card cblog1">
                <img src="assets\images\blog-3.jpg.webp" class="blogpic">

                <div class="card-body">
                    <div class="twocont">
                    <p class="feb">February 17,2019</p>
                    <p class="hash">#Body</p>
                </div>
                    <h4 class="prison">Man gets lide in prison for stabbing.</h4>
                </div>
            </div>
        </div>
    </div>
</div>

