.clfu
{
    margin-top: 100px;
}

.service11
{
    margin-top: 45px;
    border: none;
    text-align: center;
    height: 300px;
    font-weight: bold;
    position: relative;
    padding: 0 10px;
}
.service11 img{
    height: 100%;
}
.nameContainer{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.542);
    bottom: 0;
    left: 10px;
    right: 10px;
    padding-left: 20px;
    text-align: start;
    color: white;
}

.cla
{
    text-align: center;
    font-weight: bold;
}